
    {% if Length < 9 %}
    <form method="post" class="d-flex ms-5 flex-column justify-content-center" style="height: 100%;">
    {% csrf_token %} 
        <h2><b>Create your first project</b></h2>
        <input class="inputprojectname" name="projectname" type="text" style="height: 45px; width: 80%;">
        <div class="col-4 mb-1 mt-2 input-area" style="height: 8vh;">
            <input type="date" required name="Date" placeholder="Date" value="{{Date}}">
            <h2>{{Date}}</h2>
        </div>
        <button class="col-4 mt-2 btn-class"><h3>Create</h3></button>
    </form>
    {% else %}
    <div class="d-flex ms-5 flex-column justify-content-center" style="height: 100%;">
        <h1>Maximum number of project created</h1>
    </div>
    {% endif %}
