{% extends "Base.html" %}

{% block Title %}
{{Account}}
{% endblock %}

{% block Style %}
    {% load static %}
    <style>
        .scrl-box{
            height: 60vh;
            overflow-y: scroll;
        }
        .box{
            background-color: rgb(0, 0, 0);
            color: orange;
            border-radius: 20px;
        }
        .sig-box{
            border-radius: 5px;
            max-height: 8vh;
            background-image: url("{% static 'images/Auth.jpg' %}");
            background-size: cover;
            background-position: center;
            color: white;
        }
    </style>
{% endblock %}

{% block Content %}
    <div class="mainbox col-12">
        <div class="row d-flex justify-content-center align-items-center" id="stock">
            <h2 class="col-10 text-capitalize box d-flex justify-content-center align-items-center" style="height: 10vh;"><b>{{Account}} ledger</b></h2>
            <div class="row col-10 d-flex justify-content-center align-items-center" >
                <div class="col-4"><h3 class="ms-2">Dr</h3></div>
                <div class="col-4"><h3>Cr</h3></div>
                <div class="col-4"><h3>Balance</h3></div>
            </div>
            <div class="row col-10 scrl-box box mt-2 d-flex justify-content-center ">
                {% for obj in Data %}
                    <div class="col-12 mt-1 mb-1 sig-box row d-flex justify-content-center align-items-center">
                       
                        {% if obj.entry == "DR" %}
                            <div class="col-4 mt-1"><h4>{{obj.amount|floatformat:-2}}</h4></div>
                            <div class="col-4 mt-1"><h4>-</h4></div>
                        {% else %}
                            <div class="col-4 mt-1"><h4>-</h4></div>
                            <div class="col-4 mt-1"><h4>{{obj.amount|floatformat:-2}}</h4></div>
                        {% endif %}
                        <div class="col-4"><h4>{{obj.ledgerbalance|floatformat:-2}}</h4></div>
                    </div>
                {% endfor %}
            </div>
            <div class="row col-10 box mt-2 d-flex justify-content-center align-items-center" style="height: 10vh;">
                <div class="col-6"><h2>BALANCE</h2></div>
                <div class="col-4"><h2>{{Balance|floatformat:-2}}</h2></div>
                <div class="col-2"><h2>{{State}}</h2></div>
            </div>
        </div>
    </div>
{% endblock %}