{% extends "Base.html" %}

{% block Title %}
Trial Balance
{% endblock %}

{% block Style %}
    {% load static %}
    <style>
        .main-nav-bar{
            flex-direction: column;
        }
        .menu-btn{
            display: none;
        }
        .mainbox{
            height: 90vh;
        }
        .nav-icon{
            color: white;
            text-decoration: none;
        }
        .scrl-box{
            max-height: 55vh;
            overflow-y: scroll;
        }
        .box{
            background-color: black;
            color: rgb(255, 115, 0);
            border-radius: 20px;
        }
        .sig-box{
            border-radius: 5px;
            min-height: 7vh;
            border-bottom: 2px solid white;
            color: rgb(255, 255, 255);
        }
        
        @media (max-width:600px){
            .main-nav-bar{
                flex-direction: row;
            }
            .menu-btn{
                display: inline;
            }
            .display-menu{
                display: none;
            }
            .menu-icons-bar{
                position: absolute;
                top: 104%;
                left: 0%;
                backdrop-filter: blur(10px);
                height: 95vh;
                transition: 0.5s;
                display: inline;
            }
            .nav-icon{
                margin-top: 20px;
                font-size: 25px;
                margin-left: 20px;
            }

            .icon-box{
                display: flex;
                height: 80px;
                align-items: center;
            }
            .sig-box div h4{
                font-size: 22px;
            }
        }
    </style>
{% endblock %}

{% block Content %}
    {% include 'Navbar.html' with Project=Project %}
    <div class="mainbox row col-12">
        <div class="col-12 col-md-6" id="trial">
            {% if Trial %}
                <div class="row d-flex justify-content-center align-items-center" id="stock">
                    <h2 class="mt-3 col-11 text-capitalize box d-flex justify-content-center align-items-center" style="height: 10vh;"><b>Trial balane of {{Project}}</b> </h2>
                    <div class="row col-11 d-flex justify-content-center align-items-center" >
                        <div class="col-6"><h3>Perticular</h3></div>
                        <div class="col-3"><h4>Dr</h3></div>
                        <div class="col-3"><h4>Cr</h3></div>
                    </div>
                    <div class="row col-11 scrl-box box mt-2  justify-content-center ">
                            {% for obj in Trial %}
                                {% if obj.amount != 0 %}
                                <div class="col-12 sig-box row d-flex justify-content-center align-items-center">
                                    
                                    <div class="col-6 mt-1"><h4>{{obj.name}}</h4></div>
                                    {% if obj.state == "DR" %}
                                        <div class="col-3 mt-1"><h4>{{obj.amount|floatformat:-2}}</h4></div>
                                        <div class="col-3 mt-1"><h4></h4></div>
                                    {% else %}
                                        <div class="col-3 mt-1"><h4></h4></div>
                                        <div class="col-3 mt-1"><h4>{{obj.amount|floatformat:-2}}</h4></div>
                                    {% endif %}
                                </div>
                                {% endif %}

                            {% endfor %}
                    </div>
                    <div class="row col-11 box mt-2 d-flex justify-content-center align-items-center" style="height: 10vh;">
                        <div class="col-6"><h3>{{Tally}}</h3></div>
                        <div class="col-6 text-center"><h3>{{Amount|floatformat:-1}}</h3></div>
                    </div>
                </div>
            {% else %}
                <div class="d-flex justify-content-center col-12" style="height: 80vh; align-items: center; overflow:hidden; ">
                    <h2 class="text-center col-12">Data Is Not Founted <br>Please Enter Jornal Entry's</h2>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block Script %}
        <script>
            function menubar(){
                document.getElementById('menu_bar').className="menu-icons-bar"
                document.getElementById('trial').className="d-none"
            }
        </script>
{% endblock %}